---
import BlogCards from "../components/BlogCards.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

import imgThumbnail from "../images/image_thumbnail.png";

const allPosts = await getCollection("posts");

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="introduction">
    <div class="profile-img">
      <img src="./harith.JPEG" alt="Harith Onigemo" class="profile-image" />
    </div>
    <div class="profile-text">
      <h1 class="home-title">Harith Onigemo</h1>
      <p class="home-subtitle-1">
        Software Engineer | Computer Systems Engineering Student
      </p>
      <!-- <p>
        Hello, my name is Harith Onigemo. This is my blog. It is built with
        Astro and deployed via Vercel. I am a Software Engineer and a third-year
        student at Middlesex University Dubai, studying Computer Systems
        Engineering. I like to learn new technologies and build cool projects
        like this blog.
      </p> -->
    </div>
  </div>
  <p class="home-subtitle">
    Join me on the exciting journey of developing my Final Year Project: <br />
    AI Automated Waste Recycling Bin. ♻️ 🎓
  </p>

  <div class="blogCard-container">
    {
      allPosts.map((post) => (
        <BlogCards
          thumbnail={post.data.image?.url}
          postTitle={post.data.title}
          postDate={post.data.pubDate}
          postDescription={post.data.description}
          link={`/posts/${post?.slug}`}
        />
      ))
    }
  </div>
</BaseLayout>
